.nav {
  height: 200px;
  width: 300px;
  display: inline-block;
}

.entete {
  text-align: center;
}

.rouge {
  background-color: Tomato;
}

.vert {
  background-color: YellowGreen;
}

.bleu {
  background-color: SteelBlue;
}