.entete {
  text-align: center;
}

.flexbox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.nav {
  flex-basis: 20em;
}

.contenu {
  flex-basis: 0;
}

.rouge {
  background-color: Tomato;
}

.vert {
  background-color: YellowGreen;
}

.bleuTransparent {
  background-color: rgba(70,130,180,0.3);
}

.bleuOpaque {
  background-color: rgba(70,130,180,0.8);
}